<section class="container d-flex flex-column align-items-center justify-content-center min-vh-100 d-inline-block">
  <h2 class="text-dark text-center mb-5 fw-bold">Оформление заказа</h2>
  <div class="d-flex justify-content-center">
    <form id="orderForm" class="align-self-center" [formGroup]="reactForm">
      <div class="row mb-2">
        <div class="col-md-6 col-sm-12 ">
          <label for="country" class="form-label">Название продукта</label>
          <input type="text"
                 formControlName="product"
                 class="form-control"
                 id="product"
                 readonly>
          <div class="invalid-feedback" *ngIf="reactForm.get('product')?.invalid &&
                    (reactForm.get('product')?.touched || reactForm.get('product')?.dirty)
                      && reactForm.get('product')?.errors?.['required']">Требуется ввести название продукта.
          </div>
        </div>
        <div class="col-md-6 col-sm-12 ">
          <label for="index" class="form-label">Комментарий</label>
          <input class="form-control" formControlName="comment" id="comment">
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-4 col-sm-12 ">
          <label for="name" class="form-label">Имя</label>
          <input type="text" class="form-control" formControlName="name" id="name">
          <div class="invalid-feedback" *ngIf="reactForm.get('name')?.invalid &&
                    (reactForm.get('name')?.touched || reactForm.get('name')?.dirty)
                      && reactForm.get('name')?.errors?.['required']">Требуется ввести имя.
          </div>
        </div>
        <div class="col-md-4 col-sm-12 ">
          <label for="lastName" class="form-label">Фамилия</label>
          <input type="text" class="form-control" formControlName="last_name" id="lastName">
          <div class="invalid-feedback" *ngIf="reactForm.get('last_name')?.invalid &&
                    (reactForm.get('last_name')?.touched || reactForm.get('last_name')?.dirty)
                      && reactForm.get('last_name')?.errors?.['required']">Требуется ввести фамилию.
          </div>
        </div>
        <div class="col-md-4 col-sm-12 ">
          <label for="phone" class="form-label">Телефон</label>
          <input type="text" class="form-control" formControlName="phone" id="phone">
          <div class="invalid-feedback" *ngIf="reactForm.get('phone')?.invalid &&
                    (reactForm.get('phone')?.touched || reactForm.get('phone')?.dirty)
                      && reactForm.get('phone')?.errors?.['required']">Требуется ввести номер телефона.
          </div>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6 col-sm-12 ">
          <label for="country" class="form-label">Страна</label>
          <input type="text" class="form-control" formControlName="country" id="country">
          <div class="invalid-feedback" *ngIf="reactForm.get('country')?.invalid &&
                    (reactForm.get('country')?.touched || reactForm.get('country')?.dirty)
                      && reactForm.get('country')?.errors?.['required']">Требуется ввести страну.
          </div>
        </div>
        <div class="col-md-6 col-sm-12 ">
          <label for="index" class="form-label">Индекс</label>
          <input class="form-control" formControlName="zip" id="index">
          <div class="invalid-feedback" *ngIf="reactForm.get('zip')?.invalid &&
                    (reactForm.get('zip')?.touched || reactForm.get('zip')?.dirty)
                      && reactForm.get('zip')?.errors?.['required']">Требуется ввести индекс.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 ">
          <label for="address" class="form-label">Адрес:</label>
          <input type="text" class="form-control" formControlName="address" id="address">
          <div class="invalid-feedback" *ngIf="reactForm.get('address')?.invalid &&
                    (reactForm.get('address')?.touched || reactForm.get('address')?.dirty)
                      && reactForm.get('address')?.errors?.['required']">Требуется ввести адрес.
          </div>
        </div>
      </div>
      <button type="submit" (click)="createOrder()" class="btn btn-primary mt-3 col-md-3 col-sm-6 ">Отправить</button>
    </form>
  </div>
</section>
