<section class="faq">
  <div class="container">
    <h2 class="title text-dark text-center mb-5 mt-xl-5 fw-bold">Ответы на часто задаваемые вопросы</h2>
    <div class="faq-accordion">
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-trigger">
            <div class="trigger-text fw-bold text-white">Собираете ли вы подарочные боксы?</div>
            <div class="trigger-img">
              <img src="assets/images/icons/next-s.png" alt="">
            </div>
          </div>
          <div class="accordion-item-content">
            <div class="content-text fw-bold text-white">Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-trigger">
            <div class="trigger-text fw-bold text-white">Сколько у вас разновидностей чая?</div>
            <div class="trigger-img">
              <img src="assets/images/icons/next-s.png" alt="">
            </div>
          </div>
          <div class="accordion-item-content">
            <div class="content-text fw-bold text-white">Много.</div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-trigger">
            <div class="trigger-text fw-bold text-white">У вас обновляется ассортимент?</div>
            <div class="trigger-img">
              <img src="assets/images/icons/next-s.png" alt="">
            </div>
          </div>
          <div class="accordion-item-content">
            <div class="content-text fw-bold text-white"> Да, естестна.</div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-trigger">
            <div class="trigger-text fw-bold text-white">В какой срок осуществляется доставка?</div>
            <div class="trigger-img">
              <img src="assets/images/icons/next-s.png" alt="">
            </div>
          </div>
          <div class="accordion-item-content">
            <div class="content-text fw-bold text-white">В ближайшее.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
