<main class="container">
  <div class="bg-image slide mt-5">
    <div class="image">
      <div class="carousel">
        <img src="assets/images/image1.png" class="d-block w-100" alt="tea">
      </div>
    </div>
  </div>
  <faq></faq>
  <div #popupElement>
    <div class="popup-catalog" *ngIf="popup">
      <div class="popup">
        <div class="popup-text text-white text-uppercase">Посмотрите наши чайные коллекции</div>
        <a class="btn btn-primary text-white mt-4 w-100" routerLink="/products">Смотреть</a>
      </div>
    </div>
  </div>
</main>
