<section class="container">
  <h1 class="text-dark fw-bold text-center mb-4 wow  animate__animated animate__backInLeft">Our Tea Collections</h1>
  <div class="row  container mb-4 g-4 wow  animate__animated animate__fadeInTopRight">
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
      <div class="card h-100">
        <a class="popup-link" href="assets/images/product-1.png">
          <img src="assets/images/product-1.png" class="card-img-top" alt="Детокс чай лайм">
        </a>
        <div class="card-body">
          <h5 class="card-title text-dark fw-bold">Detox Lime Tea</h5>
          <p class="card-text">A great tea will bring bright colors and a taste of relaxation into your life</p>
          <a href="#" class="btn btn-primary col-sm-8 col-xl-6 mx-start">Learn more</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
      <div class="card  h-100">
        <a class="popup-link" href="assets/images/product-2.png">
          <img src="assets/images/product-2.png" class="card-img-top" alt="Ягодный чай">
        </a>
        <div class="card-body">
          <h5 class="card-title text-dark fw-bold">Ягодный чай</h5>
          <p class="card-text">Нотки ягод позволят вам расслабиться и насладиться великолепием этого чая</p>
          <a href="#" class="btn btn-primary col-sm-8 col-xl-6 mx-start">Learn more</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
      <div class="card h-100">
        <a class="popup-link" href="assets/images/product-3.png">
          <img src="assets/images/product-3.png" class="card-img-top" alt="Цветочный чай">
        </a>
        <div class="card-body">
          <h5 class="card-title text-dark fw-bold">Цветочный чай</h5>
          <p class="card-text">Душистые цветы создают невероятный аромат <span>и наполняют вас энергией</span>
          </p>
          <a href="#" class="btn btn-primary col-sm-8 col-xl-6 mx-start">Learn more</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
      <div class="card h-100">
        <a class="popup-link" href="assets/images/product-4.png">
          <img src="assets/images/product-4.png" class="card-img-top" alt="Очищающий чай">
        </a>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-dark fw-bold">Очищающий чай</h5>
          <p class="card-text flex-grow-1">Бесподобный чай для получения утреннего заряда бодрости</p>
          <div class="d-flex">
            <a href="#" class="btn btn-primary col-sm-8 col-xl-6 mx-start">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
      <div class="card h-100">
        <a class="popup-link" href="assets/images/product-5.png">
          <img src="assets/images/product-5.png" class="card-img-top" alt="Кислый чай">
        </a>
        <div class="card-body">
          <h5 class="card-title text-dark fw-bold">Кислый чай</h5>
          <p class="card-text">Кислый чай для настоящих ценителей кислинки во время чаепития</p>
          <a href="#" class="btn btn-primary col-sm-8 col-xl-6 mx-start">Learn more</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
      <div class="card h-100">
        <a class="popup-link" href="assets/images/product-6.png">
          <img src="assets/images/product-6.png" class="card-img-top" alt="Lemon balm">
        </a>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-dark fw-bold">Lemon balm</h5>
          <p class="card-text flex-grow-1">Lemon Mint Blend Will Make Your Day <span>сthe best</span></p>
          <div class="d-flex">
            <a href="#" class="btn btn-primary col-sm-8 col-xl-6 mx-start">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
