<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Advantages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Price</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>


        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search tea" aria-label="Search">
          <button class="btn btn-outline-primary text-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>
<main class="container">
  <div class="carousel slide mt-5 mb-5">

    <div class="image">
      <div class="carousel">
        <img src="assets/images/image1.png" class="d-block w-100" alt="tea">
      </div>
    </div>

  </div>
</main>

<section class="container">
  <h1 class="text-dark fw-bold text-center mb-4 wow  animate__animated animate__backInLeft">Our Tea Collections</h1>
  <div class="row  container mb-4 g-4 wow  animate__animated animate__fadeInTopRight">
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
      <div class="card h-100">
        <a class="popup-link" href="assets/images/product-1.png">
          <img src="assets/images/product-1.png" class="card-img-top" alt="Детокс чай лайм">
        </a>
        <div class="card-body">
          <h5 class="card-title text-dark fw-bold">Detox Lime Tea</h5>
          <p class="card-text">A great tea will bring bright colors and a taste of relaxation into your life</p>
          <a href="#" class="btn btn-primary col-sm-8 col-xl-6 mx-start">Learn more</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
      <div class="card  h-100">
        <a class="popup-link" href="assets/images/product-2.png">
          <img src="assets/images/product-2.png" class="card-img-top" alt="Ягодный чай">
        </a>
        <div class="card-body">
          <h5 class="card-title text-dark fw-bold">Ягодный чай</h5>
          <p class="card-text">Нотки ягод позволят вам расслабиться и насладиться великолепием этого чая</p>
          <a href="#" class="btn btn-primary col-sm-8 col-xl-6 mx-start">Learn more</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
      <div class="card h-100">
        <a class="popup-link" href="assets/images/product-3.png">
          <img src="assets/images/product-3.png" class="card-img-top" alt="Цветочный чай">
        </a>
        <div class="card-body">
          <h5 class="card-title text-dark fw-bold">Цветочный чай</h5>
          <p class="card-text">Душистые цветы создают невероятный аромат <span>и наполняют вас энергией</span>
          </p>
          <a href="#" class="btn btn-primary col-sm-8 col-xl-6 mx-start">Learn more</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
      <div class="card h-100">
        <a class="popup-link" href="assets/images/product-4.png">
          <img src="assets/images/product-4.png" class="card-img-top" alt="Очищающий чай">
        </a>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-dark fw-bold">Очищающий чай</h5>
          <p class="card-text flex-grow-1">Бесподобный чай для получения утреннего заряда бодрости</p>
          <div class="d-flex">
            <a href="#" class="btn btn-primary col-sm-8 col-xl-6 mx-start">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
      <div class="card h-100">
        <a class="popup-link" href="assets/images/product-5.png">
          <img src="assets/images/product-5.png" class="card-img-top" alt="Кислый чай">
        </a>
        <div class="card-body">
          <h5 class="card-title text-dark fw-bold">Кислый чай</h5>
          <p class="card-text">Кислый чай для настоящих ценителей кислинки во время чаепития</p>
          <a href="#" class="btn btn-primary col-sm-8 col-xl-6 mx-start">Learn more</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
      <div class="card h-100">
        <a class="popup-link" href="assets/images/product-6.png">
          <img src="assets/images/product-6.png" class="card-img-top" alt="Lemon balm">
        </a>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-dark fw-bold">Lemon balm</h5>
          <p class="card-text flex-grow-1">Lemon Mint Blend Will Make Your Day <span>сthe best</span></p>
          <div class="d-flex">
            <a href="#" class="btn btn-primary col-sm-8 col-xl-6 mx-start">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <h2 class="text-dark text-center mb-5 fw-bold  wow  animate__animated animate__backInLeft">Ответы на часто
    задаваемые вопросы</h2>
  <div id="accordion" class="row justify-content-center mb-5  wow  animate__animated animate__fadeInTopRight">
    <h3 class="col-md-8 col-sm-12 border rounded-4 bg-primary fw-bold mb-2 text-white d-flex align-items-center fs-6 text-wrap badge"
        style="height: 68px; ">Собираете ли вы
      подарочные боксы?
      <svg class="accordion-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
           fill="none">
        <g clip-path="url(#clip0_3910_43)">
          <path
            d="M9.2196 15.5559L0.31951 6.65567C0.113495 6.44982 -6.91001e-08 6.17502 -5.92231e-08 5.88202C-4.93462e-08 5.58901 0.113495 5.31422 0.31951 5.10837L0.974789 4.45292C1.40178 4.02642 2.09576 4.02642 2.52209 4.45292L9.99585 11.9267L17.4779 4.44463C17.6839 4.23878 17.9586 4.12512 18.2514 4.12512C18.5446 4.12512 18.8192 4.23878 19.0254 4.44463L19.6805 5.10007C19.8865 5.30609 20 5.58072 20 5.87373C20 6.16673 19.8865 6.44153 19.6805 6.64738L10.7723 15.5559C10.5656 15.7623 10.2897 15.8756 9.99634 15.8749C9.70187 15.8756 9.4261 15.7623 9.2196 15.5559Z"
            fill="white"/>
        </g>
        <defs>
          <clipPath id="clip0_3910_43">
            <rect width="20" height="20" fill="white" transform="matrix(-3.3709e-08 1 1 5.66818e-08 0 0)"/>
          </clipPath>
        </defs>
      </svg>
    </h3>
    <div class="col-md-8 col-sm-12 overflow-y-hidden text-wrap text-start badge fw-light">
      <p class="fs-6 px-4 py-0 pt-sm-2 mb-0">Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на
        любой вкус,
        объем
        и стоимость!</p>
    </div>
    <h3 class="col-md-8 col-sm-12 border rounded-4 bg-primary fw-bold mb-2 text-white d-flex align-items-center text-wrap badge"
        style="height: 68px;">Сколько у вас разновидностей
      чая?
      <svg class="accordion-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
           fill="none">
        <g clip-path="url(#clip0_3910_43)">
          <path
            d="M9.2196 15.5559L0.31951 6.65567C0.113495 6.44982 -6.91001e-08 6.17502 -5.92231e-08 5.88202C-4.93462e-08 5.58901 0.113495 5.31422 0.31951 5.10837L0.974789 4.45292C1.40178 4.02642 2.09576 4.02642 2.52209 4.45292L9.99585 11.9267L17.4779 4.44463C17.6839 4.23878 17.9586 4.12512 18.2514 4.12512C18.5446 4.12512 18.8192 4.23878 19.0254 4.44463L19.6805 5.10007C19.8865 5.30609 20 5.58072 20 5.87373C20 6.16673 19.8865 6.44153 19.6805 6.64738L10.7723 15.5559C10.5656 15.7623 10.2897 15.8756 9.99634 15.8749C9.70187 15.8756 9.4261 15.7623 9.2196 15.5559Z"
            fill="white"/>
        </g>
        <defs>
          <clipPath id="clip0_3910_43">
            <rect width="20" height="20" fill="white" transform="matrix(-3.3709e-08 1 1 5.66818e-08 0 0)"/>
          </clipPath>
        </defs>
      </svg>
    </h3>
    <div class="col-md-8 col-sm-12 overflow-y-hidden text-wrap text-start badge fw-light">
      <p class="fs-6 px-4 py-0  pt-sm-2 mb-0">Много.</p>
    </div>
    <h3 class="col-md-8 col-sm-12 border rounded-4  bg-primary fw-bold mb-2 text-white d-flex align-items-center text-wrap badge"
        style="height: 68px;">В какой срок осуществляется
      доставка?
      <svg class="accordion-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
           fill="none">
        <g clip-path="url(#clip0_3910_43)">
          <path
            d="M9.2196 15.5559L0.31951 6.65567C0.113495 6.44982 -6.91001e-08 6.17502 -5.92231e-08 5.88202C-4.93462e-08 5.58901 0.113495 5.31422 0.31951 5.10837L0.974789 4.45292C1.40178 4.02642 2.09576 4.02642 2.52209 4.45292L9.99585 11.9267L17.4779 4.44463C17.6839 4.23878 17.9586 4.12512 18.2514 4.12512C18.5446 4.12512 18.8192 4.23878 19.0254 4.44463L19.6805 5.10007C19.8865 5.30609 20 5.58072 20 5.87373C20 6.16673 19.8865 6.44153 19.6805 6.64738L10.7723 15.5559C10.5656 15.7623 10.2897 15.8756 9.99634 15.8749C9.70187 15.8756 9.4261 15.7623 9.2196 15.5559Z"
            fill="white"/>
        </g>
        <defs>
          <clipPath id="clip0_3910_43">
            <rect width="20" height="20" fill="white" transform="matrix(-3.3709e-08 1 1 5.66818e-08 0 0)"/>
          </clipPath>
        </defs>
      </svg>
    </h3>
    <div class="col-md-8 col-sm-12 overflow-y-hidden text-wrap text-start badge fw-light">
      <p class="fs-6 px-4 py-0  pt-sm-2 mb-0">В ближайшее. </p>
    </div>
    <h3 class="col-md-8 col-sm-12 border rounded-4  bg-primary fw-bold mb-2 text-white d-flex align-items-center text-wrap badge"
        style="height: 68px;">У вас обновляется
      ассортимент?
      <svg class="accordion-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
           fill="none">
        <g clip-path="url(#clip0_3910_43)">
          <path
            d="M9.2196 15.5559L0.31951 6.65567C0.113495 6.44982 -6.91001e-08 6.17502 -5.92231e-08 5.88202C-4.93462e-08 5.58901 0.113495 5.31422 0.31951 5.10837L0.974789 4.45292C1.40178 4.02642 2.09576 4.02642 2.52209 4.45292L9.99585 11.9267L17.4779 4.44463C17.6839 4.23878 17.9586 4.12512 18.2514 4.12512C18.5446 4.12512 18.8192 4.23878 19.0254 4.44463L19.6805 5.10007C19.8865 5.30609 20 5.58072 20 5.87373C20 6.16673 19.8865 6.44153 19.6805 6.64738L10.7723 15.5559C10.5656 15.7623 10.2897 15.8756 9.99634 15.8749C9.70187 15.8756 9.4261 15.7623 9.2196 15.5559Z"
            fill="white"/>
        </g>
        <defs>
          <clipPath id="clip0_3910_43">
            <rect width="20" height="20" fill="white" transform="matrix(-3.3709e-08 1 1 5.66818e-08 0 0)"/>
          </clipPath>
        </defs>
      </svg>
    </h3>
    <div class="col-md-8 col-sm-12 overflow-y-hidden text-wrap text-start badge fw-light">
      <p class="fs-6 px-4 py-0 pt-sm-2 mb-0 "> Да, естестна.</p>
    </div>
    <h3 class="col-md-8 col-sm-12 border rounded-4  bg-primary fw-bold mb-2 text-white d-flex align-items-center text-wrap badge"
        style="height: 68px;">Какого объема у вас пачки
      чая?
      <svg class="accordion-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
           fill="none">
        <g clip-path="url(#clip0_3910_43)">
          <path
            d="M9.2196 15.5559L0.31951 6.65567C0.113495 6.44982 -6.91001e-08 6.17502 -5.92231e-08 5.88202C-4.93462e-08 5.58901 0.113495 5.31422 0.31951 5.10837L0.974789 4.45292C1.40178 4.02642 2.09576 4.02642 2.52209 4.45292L9.99585 11.9267L17.4779 4.44463C17.6839 4.23878 17.9586 4.12512 18.2514 4.12512C18.5446 4.12512 18.8192 4.23878 19.0254 4.44463L19.6805 5.10007C19.8865 5.30609 20 5.58072 20 5.87373C20 6.16673 19.8865 6.44153 19.6805 6.64738L10.7723 15.5559C10.5656 15.7623 10.2897 15.8756 9.99634 15.8749C9.70187 15.8756 9.4261 15.7623 9.2196 15.5559Z"
            fill="white"/>
        </g>
        <defs>
          <clipPath id="clip0_3910_43">
            <rect width="20" height="20" fill="white" transform="matrix(-3.3709e-08 1 1 5.66818e-08 0 0)"/>
          </clipPath>
        </defs>
      </svg>
    </h3>
    <div class="col-md-8 col-sm-12 overflow-y-hidden text-wrap text-start badge fw-light">
      <p class="fs-6 px-4 py-0 pt-sm-2">Разного.</p>
    </div>
  </div>

</section>
<section class="container mt-5 mb-5">
  <h2 class="text-dark text-center mb-5 fw-bold wow  animate__animated animate__backInLeft">Оформление заказа</h2>
  <div class="d-flex justify-content-center  wow  animate__animated animate__fadeInTopRight">
    <form id="orderForm" class="align-self-center">
      <div class="row mb-2">
        <div class="col-md-4 col-sm-12 ">
          <label for="name" class="form-label">Имя</label>
          <input type="text" class="form-control" id="name" required>
        </div>
        <div class="col-md-4 col-sm-12 ">
          <label for="lastName" class="form-label">Фамилия</label>
          <input type="text" class="form-control" id="lastName" required>
        </div>
        <div class="col-md-4 col-sm-12 ">
          <label for="phone" class="form-label">Телефон</label>
          <input type="text" class="form-control" id="phone" required>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6 col-sm-12 ">
          <label for="country" class="form-label">Страна</label>
          <input type="text" class="form-control" id="country" required>
        </div>
        <div class="col-md-6 col-sm-12 ">
          <label for="index" class="form-label">Индекс</label>
          <input class="form-control" id="index" required>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 ">
          <label for="address" class="form-label">Адрес:</label>
          <input type="text" class="form-control" id="address" required>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-3 col-md-3 col-sm-6 ">Отправить</button>
    </form>

    <div id="message" class="mt-3 wow animate__animated animate__backInLeft" style="display: none; ">
      <h3 class="text-dark text-center mb-5 fw-bold fs-1">Спасибо за заказ. Мы свяжемся с вами в ближайшее
        время!</h3>
    </div>
  </div>
</section>
<footer class="footer bg-light">
  <div class="footer text-black-50 fw-light mt-start px-3 py-3">Все права защищены</div>
</footer>
