.item {
  width: 282px;
  box-shadow: 0 3px 14px 1px rgba(152, 152, 152, 0.2);
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px 20px;
  box-sizing: border-box;
  margin-top: 24px;
}
