@font-face {
  font-family: Arial;
  src: url("assets/fonts/ArialReg.ttf");
}


@font-face {
  font-family: Arial;
  src: url("assets/fonts/Arial-Bold.ttf");
  font-weight: 700;
}

body {
  font-family: Arial, sans-serif;
}

.accordion-icon {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.ui-widget-content {
  border: none;
}

.ui-helper-reset {
  margin: 0;
  padding: 0;
}

.card-body p span {
  white-space: pre;
}


h3 svg {
  position: absolute;
  right: 30px;
}

.loader-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.47);

  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  .loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent #FF3D00 #FF3D00;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}



/* Importing Bootstrap SCSS file. */
@import '../node_modules/bootstrap/scss/bootstrap';
